<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 		<meta name="description" content=" " />
 		<meta name="author" content=" " />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
 		<link rel="stylesheet" type="text/css" href="/style.css">
 	</head>
 	<body>
         <h1>All the things you can imagine......</h1>
         <form action="/todo2/" method="post">
            <input type="text" name="new_todos" value="" placeholder="What do you need to do?">
            <button type="submit">Submit</button>
        </form>
        <h1>The things you may get done</h1>

         <ul class="todo-list">
              {{#todos}}
                <form action="/todo2/" method="post">
                  <li class="todo_list_item">
                    <input type="text" name="marked_as_complete" value="">
                    <button type="text" >Mark as complete</button>{{.}}
                  </li>
                </form>
              {{/todos}}</ul>


         <h1>The things you have done</h1>
          <ul class="todo-list">{{#completed}}
            <li class="no_bullet">
              <input type="checkbox">{{.}}
            </li>
          {{/completed}}</ul>
 	</body>
 </html>
